.container02
  = render "/shared/header01"

  .complete__container
    .complete__container__l
      %h2 会員登録完了
      .complete__container__message
        %p
          ありがとうございます。
          %br
          会員登録が完了しました。
        .complete__container__message__submit
          -# = link_to root_path, data: {"turbolinks": false}, class: "btn-default btn-red" do
          メルカリをはじめる

= render "/shared/footer01"           