.footer01
  .nav 
    %ul.cleafix
      %li
        %a{href: '#'}プライバシーポリシー
      %li
        %a{href: '#'}FURIMA利用規約
      %li
        %a{href: '#'}特定商取引に関する表記
  %a{href: '#', class: "footer01__logo"}
    = image_tag '/assets/logo.png', alt: '', class: 'footer01__logo__btn'
  %p.footer-mark © FURIMA,Inc