.footer01
  .nav 
    %ul.cleafix
      %li
        %a{href: '#'}プライバシーポリシー
      %li
        %a{href: '#'}FURIMA利用規約
      %li
        %a{href: '#'}特定商取引に関する表記
  %a{href: root_path, class: "footer01__logo"}
    = image_tag asset_path('logo.png'), type: '', alt: ''
  %p.footer-mark © FURIMA,Inc