.mypage-content{
  &__logout{
    background-color: #fff;
    form{
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      &__btn{
        max-width: 320px;
        margin: 0 auto;
        }
      .logout-btn{
        margin: 0 auto;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 350px;
        line-height: 48px;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}