* {
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.nav-crumbs{
  height: 60px;
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding-right: 10px;
      float: left;
      li.fas.fa-angle-right:before{
        content: "\f105";
      }
      a{
        color: #000;
        text-decoration: none;
      }
      a:hover{
        color: #3CCACE;
      }
    }
    li:last-child{
      font-weight: bold;
    }
  }
}

.main{
  background: #f8f8f8;
  &-show{
    padding: 40px;
    margin: 0 auto;
    .inner{
      width: 700px;
      margin: 0 auto;
      .item-box{
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__img{
          margin-top: 16px;
          ul{
            display: flex;
            position: relative;
            li{
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              img{
                object-fit: cover;
                height: 346px;
                width: 100%;
              }
              ul{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li{
                  width: 25%;
                  margin-right: 10px;
                  margin-left: 0;
                  img{
                    object-fit: cover;
                    height: 87px;
                  }
                }
              }
            }
          }
        }
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          font-size: 46px;
          span{
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &-detail{
            font-size: 16px;
          }
          .purchase-btn{
            font-size: 24px;
            line-height: 60px;
            display: block;
            margin-top: 30px;
            background: #3CCACE;
            color: #fff;
            border-radius: 4px;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            text-decoration: none;
          }
          .purchase-btn-gray{
            font-size: 24px;
            line-height: 60px;
            display: block;
            margin-top: 30px;
            background: #7c7c7c;
            color: #fff;
            border-radius: 4px;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            text-decoration: none;
          }
          .edit-btn{
            font-size: 14px;
            line-height: 60px;
            display: block;
            margin-top: 30px;
            background: #3CCACE;
            color: #fff;
            border-radius: 4px;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            text-decoration: none;
          }
          p{
            text-align: center;
            font-size: 16px;
            margin-top: 15px;
          }
          .delete-btn{
            font-size: 14px;
            line-height: 60px;
            display: block;
            margin-top: 15px;
            background: #aaa;
            color: #fff;
            border-radius: 4px;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            text-decoration: none;
          }
        }
        &__text{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            th{
              width: 20%;
              background-color: #eee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            td{
              width: 61%;
              padding: 15px 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              a{
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
        .optional-area{
          display: flex;
          justify-content: space-between;
          ul{
            margin: 10px 0 0;
            display: flex;
            li.like-btn{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
              cursor: pointer;
              li.like-btn.fas.fa-star::before{
                content: "\f005";
              }
            }
            li.optional-btn{
              font-size: 14px;
              a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
                li.optional-btn.fas.fa-flag::before{
                  content: "\f024";
                }
              }
            }
          }
        }
      }
      .comment-box{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        textarea{
          width: 100%;
          min-height: 104px;
          padding: 10px;
        }
        p{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 20px 0;
          text-align: left;
        }
        button{
          font-size: 18px;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          button.fas.fa-comment{
            content: "\f075";
          }
        }
      }
      .links li{
        float: left;
        a{
          text-decoration: none;
          color: #3CCACE;
        }
        .links li.fas.fa-angle-left::before{
          content: "\f104";
        }
        .links li.fas.fa-angle-right::before{
          content: "\f105";
        }
      }
      .links li:last-child{
        float: right;
      }
      .links::after{
        display: block;
        content: "";
        clear: both;
      }
    }
    .related-items a{
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}