.wrapper
  .header
    Furima
  .body
    .photos
      .style_formLabel
        %label
          出品画像
        %span
          必須
      %p
        最大１０枚までアップロードできます
      .upload-box
        %p.sign
          ドラックしてアンドロップ
        %p.sign
          またはクリックしてファイルをアップロード
        
    .commodity

    .details
    .delivery
    .price
    .bottom
  .footer