.wrapper{
  background-color: rgb(245, 245, 245);
}
.header{
  text-align: center;
}
.body{
  background-color: white;
}
.footer{
  height: 220px;
}
.photos{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.commodity{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: red;
}
.details{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: black;
}
.delivery{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: blue;
}
.price{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: brown;
}
.button{
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  background-color: burlywood;
}
.items{
  margin: 0px 100px;
}