.wrapper{
  background-color: rgb(245, 245, 245);
  width: 100%;
}
.header02{
 text-align: center;
 padding: 2%;
}
.body{
  background-color: white;
}
.photos{
  border-bottom: 1px solid rgb(245, 245, 245);
  
}
.style_formLabel{
  padding: 3%;
  &input{
    size: 64px;
  }
}
p{
  margin-bottom:5px ;
}
.image-box{
  background-color: rgb(245, 245, 245);
  text-align: center;
  padding-top: 20px;
  justify-content: center;
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(204, 204, 204);
  width: 620px;
  margin: 0px auto;
}
.commodity{
  border-bottom: 1px solid rgb(245, 245, 245);
  &__detail__description{
    width: 100%;
    height: 200px;
  }
}

.details{
  height: 4%;
  border-bottom: 1px solid rgb(245, 245, 245);
  margin: 0px,auto;
  &__brand{
    padding: 3%;
  }
}
.delivery{
  border-bottom: 1px solid rgb(245, 245, 245);
}
.price{
  padding: 40px;
  height: 182px;
  border-bottom: 1px solid rgb(245, 245, 245);
  &__celect{
  display: flex;
  
  margin-bottom: 10px;
  &__plate{
    padding-left: 30%;
    font-size: 15px;
    padding-top: 10px;
  }
  }
  &__fee{
  display: flex;
  justify-content: space-between;
  
  }
}
.labels{
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding-top:10px ;
}
.bottom{
  border-bottom: 1px solid rgb(245, 245, 245);
}
.profit{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.buttons{
  text-align: center;
  margin: 80px;
  &__sell{
    height: 40px;
    background-color: red;
    color: white;
    font-size: 20px;
  }
  &__save{
    font-size: 18px;
    margin-top: 5%;
    background-color: #cccccc;
    height: 40px;
    padding: 5px
  }
  &__back{
    text-align: center;
    margin-top: 5%;
    
  }
}
.items{
  margin: 0 auto;
  width: 650px
}
select{
  width: 100%;
  height: 48px;
}
input{
  height: 48px;
  width: 100%;
}
.sign{
  color: red;
}
.warning{
  font-size: 12px;
  padding: 5%;
}
.identification__form__field__arbitrary {
  color: red;
}
.exhibitionPage__main__contents__detail__category{
  padding: 15px;
}
.required{
  color: red;
}
.listing-select-wrapper--edit{
  padding: 15px;
  &__parent{
    padding-bottom: 20px;
  }
  &__child{
    padding-bottom: 20px;
  }
  &__grandchild{
    padding-bottom: 20px;
  }
}
.listing-default--require{
  color: red;
}