= render 'shared/header01'

%main.products-purchase-wrapper
  %section.products-purchase-wrapper__buy-item-container
    %h2.products-purchase-wrapper__buy-item-container__buy-head 購入内容の確認

    .products-purchase-buy-content
      .products-purchase-buy-content__inner
        .products-purchase-buy-content__inner__item-box
          %h3.products-purchase-buy-content__inner__item-box__image
            %img.products-purchase-buy-content__inner__item-box__image--img-loaded{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
          .products-purchase-buy-content__inner__item-box__detail
            %p.products-purchase-buy-content__inner__item-box__detail__name Product1
            %p.products-purchase-buy-content__inner__item-box__detail__price-ja
              %span 10,000円
              %span.products-purchase-buy-content__inner__item-box__detail__price-ja__shipping-fee （税込）送料込み

    %section.products-purchase-buy-content
      .products-purchase-buy-content__inner
        %form#buy-item-form.buy-form{action: "#", method: "POST", novalidate: "novalidate"}
          %ul.products-purchase-buy-price-table
            %li.products-purchase-buy-price-row
              .products-purchase-buy-price-cell.buy-price-cell-label 支払い金額
              .products-purchase-buy-price-cell
                %span{"data-buy-pay": "10,000"} 10,000円
          %section.buy-user-info{"data-buy": "pay-method"}
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 支払い方法
                %a.products-purchase-l-right.buy-user-info-fix{href: "#"}
                  %span 変更する
              %p.products-purchase-buy-user-info-text
                %br/
                クレジットカード
                %br/
                **** **** **** 4242
                %br/
                有効期限 08 / 24
              = icon('fab', 'cc-visa')

          %section.buy-user-info
            .products-purchase-buy-content__inner
              .clearfix
                %h3.products-purchase-l-left 配送先
                %a.products-purchase-l-right.buy-user-info-fix{href: "#"}
                  %span 変更する
              %address.products-purchase-buy-user-info-text
                %p
                  %br/
                  〒000-0000
                  %br/
                  大阪府 大阪区 大阪町

                  %br/
                  山田　太郎

          %section.buy-user-info
            %p.products-purchase-has-info-text
              郵便局/コンビニ受取をご希望の方は、購入後に
              %span.products-purchase-bold> 取引画面
              から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
            %button.products-purchase-btn-default.btn-red.bold{"data-item-id": "m58985111622", "data-modal": "identity-confirmation", type: "submit"} 購入する

= render 'shared/footer01'