!!!
%html
  %head
<<<<<<< HEAD
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
=======
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
>>>>>>> origin
    :css
      /* Email styles need to be inline */
  %body
    = yield
